{% extends 'base.html' %}

{% block main %}
    <h3><a href="/">{{ brand }}</a></h3>
    <h2>
        <a class="{% if view == 'breaking' %}active{% endif %}" href="/">Breaking</a>
        <a class="{% if view == 'current' %}active{% endif %}" href="/current">Current</a>
    </h2>
    {% for entry in entries %}
        {% include 'common/entry.html' %}
    {% else %}
        <div class="entry">
            <div class="summary">Fetching articles...</div>
        </div>
    {% endfor %}
    <div class="entry">
        <div class="small">
            <a class="done" href="/">{{ sites }} websites</a>
            <a class="done" href="/">{{ articles }} articles</a>
        </div>
    </div>
{% endblock %}
