<div class="entry">
    <h4 class="title">
        <a href="{{ article.url }}">{{ article.title }}</a>
    </h4>
    <div class="small">
        {% if view == 'read' %}
            <a onclick="listen(event)">listen</a>
        {% else %}
            <a href="/{{ article.base }}" rel="nofollow">
                {{ article.domain | sitename }}
            </a>
        {% endif %}
        <b>&nbsp;</b>
        <b>{{ article.pub | shortdate }}</b>
        {% if article.score %}
            <b>&nbsp;</b>
            <b>{{ article.reach }}</b>
        {% endif %}
        {% if article.description %}
            <b>&nbsp;</b>
            <b>{{ article.description | truncate(limit=128) }}</b>
        {% endif %}
    </div>
</div>
