{% extends 'base.html' %}

{% block main %}
    <h3><a href="/">{{ brand }}</a></h3>
    <h2>
        <a class="{% if view == 'hottest' %}active{% endif %}" href="/">Hottest</a>
        <a class="{% if view == 'coldest' %}active{% endif %}" href="/cold">Coldest</a>
        <a class="{% if view == 'newest' %}active{% endif %}" href="/new">Newest</a>
    </h2>
    {% for entry in entries %}
        {% include 'entry.html' %}
    {% else %}
        <div class="entry">
            <div class="summary">Fetching articles...</div>
        </div>
    {% endfor %}
    {% if pages > 1 %}
        <div class="entry">
            <div class="pages">
                {% for number in range(1, pages + 1) %}
                    <a class="{% if number == page %}selected{% endif %}" href="/?p={{ number }}">{{ number }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
